@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,800;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body {
color:  #3D3D3F;
font-family:'DM Sans';
font-weight: 500;
background: #F9FAFF;
backdrop-filter: blur(388.5px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav {
    display: flex;
    gap: 60px;
    font-family: DM Sans;
    font-size: 14px;
}

.page_padding{
    padding: 71px 138px 0;
}

.section_intro{
    margin-top: 142px;
    display: flex;
    justify-content: space-between;
}


h1 {
    font-family: 'Rubik';
    font-size: 72px;
}

.description {
    font-size: 20px;
}
.mt40{
    margin-top: 40px;
}

.smallbtn{
    border-radius: 5px;
    background: #F35F2F;
    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
}

h2 {
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
}

.services {
    display: flex;
    justify-content: space-between;
    border-radius: 17px;
    border: 2px solid rgba(235, 235, 235, 0.80);
    padding: 54px 100px;

        
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service img {
    width: 100px;
}
h3{
    text-align: center;
}

.Web {
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 23px;
    background: #FFF;   
    width: 356px;
    height: 302px;
    position:relative;
}
 .Webs{
    display: flex;
    justify-content: space-between;
 }
.img_block {
    padding: 25px;
    border-radius: 100%;
    position: absolute;
    top: -50px;
}
.orange{
    
    background: rgba(255, 122, 80, 1);
}